
.img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    border: 2px solid black;
}
.selectedImg {
    border: 2px solid red;
}

.ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
} 

.button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
}