.container{
    margin: 0 auto;
    width: 500px;
}
.form{
    display: flex;
    flex-direction: column;
}
.textarea{
    height: 100px;
    resize: none;
}
.ul,.li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.ul{
    margin-top: 16px;
}