.container{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}
.name{
    margin: 0;
    font-size: 12px;
}
.text, .date {
    word-break: break-all;
    margin: 0;
}
.date {
    font-size: 12px;
}
.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.divInfo{
    display: flex;
    gap: 8px;
}
.divTextDate{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 8px;
}