.name{
    margin: 0;
}

.text {
    word-wrap: break-word;
}

.ulReaction{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ulReaction{
    display: flex;
    margin-bottom: 16px;
}
.buttonReaction{
    cursor: pointer;
}