.name{
    margin: 0;
}

.text {
    word-wrap: break-word;
}

.ulReaction, .ulComment{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.ulComment{
    margin-left: 32px;
}
.ulReaction{
    display: flex;
    margin-bottom: 16px;
}
.buttonReaction{
    cursor: pointer;
}

.formComment{
    width: 100%;
    margin-bottom: 8px;
}

.textAreaComment{
    width: 100%;
    resize: none;
}

.ulComment{
    display: flex;
    flex-direction: column;
    gap: 16px;
}